Repository icyd/nixvim, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, GithubActions, LuaSnippets, Modules

.github/labeler.yml:

---
Config:
  - changed-files:
      - any-glob-to-any-file: config/*
GithubActions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
LuaSnippets:
  - changed-files:
      - any-glob-to-any-file: lua/**/*
Modules:
  - changed-files:
      - any-glob-to-any-file: modules/**/*

feat: run treefmt with checks, run tests on matrix added workflow to update flake.lock
  .github/workflows/tests.yml
  .github/workflows/update-flakes.yml
  flake.nix
Labels: GithubActions

fix: matrix configuration
  .github/workflows/tests.yml
Labels: GithubActions

fix: matrix.os to matrix.arch
  .github/workflows/tests.yml
Labels: GithubActions

ci: fix variable names in tests
  .github/workflows/tests.yml
Labels: GithubActions

feat: disable treefmt check
  .github/workflows/tests.yml
  flake.nix
Labels: GithubActions

ci: added build workflow
  .github/workflows/build.yml
Labels: GithubActions

ci: added dependabot to update github-actions
  .github/dependabot.yml
Labels: none

feat: use flake-parts partitions for dev inputs
  README.md
  dev/default.nix
  dev/devshells.nix
  dev/flake.lock
  dev/flake.nix
  dev/git-hooks.nix
  dev/treefmt.nix
  flake.nix
  modules/debugging/default.nix
  modules/general/keybindings.nix
Labels: Modules

feat: use functions instead of explicit modules def
  flake.nix
  modules/default.nix
Labels: Modules

feat: update inputs
  flake.lock
Labels: none
